body {
    color: white;
    font-family: "Roboto", sans-serif;
}

.Titolo-iniziale {
    font-size: 24px;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    padding: 16px;
    gap: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.sezione-chat {
    display: flex;
    flex-grow: 1;
    background-color: rgb(34, 34, 34);
    flex-direction: column;
    padding-left: 16px;
    padding-bottom: 32px;
    padding-top: 16px;

}

.icona-server {
    
    height: 8vh;
    display: flex;
    width: 13vw;
    border-radius: 52px;
}

.search-row{
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.friends {
    display: flex;
    flex-grow: 1;
}

.search {
    display: flex;
}

.buttonfriends {
    border-radius: 16px;
    flex-grow: 1;
    justify-content: center;
    background-color: rgb(104, 104, 104);
    color: white;
}

.lista-messaggi {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    gap: 16px;
}

.riga-messaggio {
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 16px;
    color: white;
    background-color: rgb(53, 53, 53);
    border-radius: 16px;
    padding: 8px;
}

.messaggio-sinistro {
    
    display: flex;
    flex-grow: 1;
}

.Name-Text {
    flex-direction: column;
    display: flex;
    padding-left: 16px;
}

.icona-server img {
    border-radius: 30px;
}

.img-profile {
    width: 10vW;
}

.img-profile img {
    border-radius: 24px;
}

.bi-search {
    background-color: grey;
    border-radius: 13px;
    padding: 4px 8px;
}

.riga-messaggio-inactive {

    display: flex;
    flex-direction: row;
    padding-left: 8px;
    padding-right: 16px;
    color: rgb(153, 153, 153);

}

.Nome {
    font-weight: bold;
    font-size: 16px;
}

.tempo {
    font-size: 12px;
}

.bi-houses-fill {
    color: white;
    font-size: 24px;
}

.bi-bell-fill {
    color: white;
    font-size: 24px;
}

.footer {
    display: flex;
    width: 100vw;
    flex-direction: column;
}

.Footer-Container {
    
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    padding: 16px;

}

.Sezione-Footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-basis: calc(100% / 3);
}

.img-footer {
    align-self: center;
}

.img-footer img {
    height: 36px;
    border-radius: 24px;
}

.Testo-Footer{
    font-size: 14px;
}

.img-profile {
    position: relative;
}

.dot-offline {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 33px;
    right: -10%;
    border: 4px solid black;
}

.dot-inactive {
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 33px;
    right: -10%;
    border: 4px solid black;
}